<!DOCTYPE html>
<html>

<head>
    <title> About Page</title>
    <link rel="icon" href="img/cloudimg.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="maincontent">
        {{>header}}
        <p> This is an about page of {{name}} who is {{age}} years old </p>
        <img class='portrait' src="/img/Gurr.jpg">
    </div>


    {{>footer}}
</body>

</html>