<!DOCTYPE html>
<html>

<head>
    <title> Help Page</title>
    <link rel="icon" href="img/cloudimg.png">
     <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="maincontent">
        {{>header}}
        <p> This is a Help Page craeted by {{name}} </p>
    </div>

    {{>footer}}
</body>

</html>